In [8]:
from pathlib import Path
import pandas as pd

cars = pd.read_csv(Path("car_price_prediction.csv"))
cars.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [9]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [10]:
cars = cars.fillna(0)
df = pd.DataFrame(cars)
df = df.drop('ID', axis=1)
df = df.drop('Levy', axis=1)

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Manufacturer = le.fit_transform(df['Manufacturer'])
Model = le.fit_transform(df['Model'])
Category = le.fit_transform(df['Category'])
Leather_interior = le.fit_transform(df['Leather interior'])
Fuel_type = le.fit_transform(df['Fuel type'])
Engine_volume = le.fit_transform(df['Engine volume'])
Mileage = le.fit_transform(df['Mileage'])
Gear_box_type = le.fit_transform(df['Gear box type'])
Drive_wheels = le.fit_transform(df['Drive wheels'])
Doors = le.fit_transform(df['Doors'])
Wheel = le.fit_transform(df['Wheel'])
Color = le.fit_transform(df['Color'])

Manufacturer, Model , Category, Leather_interior, Fuel_type, Engine_volume, Mileage, Gear_box_type, Drive_wheels, Doors, Wheel, Color

(array([32,  8, 21, ..., 23,  8, 23]),
 array([1242,  658,  684, ..., 1442,  456, 1334]),
 array([4, 4, 3, ..., 4, 4, 9]),
 array([1, 0, 0, ..., 1, 1, 1]),
 array([2, 5, 5, ..., 1, 1, 2]),
 array([63, 56, 22, ..., 36, 36, 44]),
 array([2838, 2960, 3140, ...,  638, 5612, 2857]),
 array([0, 2, 3, ..., 0, 0, 0]),
 array([0, 0, 1, ..., 1, 1, 1]),
 array([1, 1, 1, ..., 1, 1, 1]),
 array([0, 0, 1, ..., 0, 0, 0]),
 array([12,  1,  1, ...,  7,  1, 14]))

In [12]:
df['NManufacturer'] = Manufacturer
df['NModel'] = Model
df['NCategory'] = Category
df['NLeather interior'] = Leather_interior
df['NFuel type'] = Fuel_type
df['NEngine volume'] = Engine_volume
df['NMileage'] = Mileage
df['NGear box type'] = Gear_box_type
df['NDrive wheels'] = Drive_wheels
df['NDoors'] = Doors
df['NWheel'] = Wheel
df['NColor'] = Color
new_dataset = df.drop(columns=['Manufacturer',
                  'Model',
                  'Category',
                  'Leather interior',
                  'Fuel type',
                  'Engine volume',
                  'Mileage',
                  'Cylinders',
                  'Gear box type',
                  'Drive wheels',
                  'Doors',
                  'Wheel',
                  'Color'])
new_dataset

,Price,Prod. year,Airbags,NManufacturer,NModel,NCategory,NLeather interior,NFuel type,NEngine volume,NMileage,NGear box type,NDrive wheels,NDoors,NWheel,NColor
0,13328,2010,12,32,1242,4,1,2,63,2838,0,0,1,0,12
1,16621,2011,8,8,658,4,0,5,56,2960,2,0,1,0,1
2,8467,2006,2,21,684,3,0,5,22,3140,3,1,1,1,1
3,3607,2011,0,16,661,4,1,2,46,2413,0,0,1,0,14
4,11726,2014,4,21,684,3,1,5,22,7396,0,1,1,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,1999,5,36,385,1,1,0,37,4394,1,2,0,0,12
19233,15681,2011,8,23,1334,9,1,5,44,2214,2,1,1,0,11
19234,26108,2010,4,23,1442,4,1,1,36,638,0,1,1,0,7
19235,5331,2007,4,8,456,4,1,1,36,5612,0,1,1,0,1
19236,470,2012,12,23,1334,9,1,2,44,2857,0,1,1,0,14

In [13]:
new_dataset.to_csv('Cars.csv', index=False)